node_modules
.next
.git
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.dokploy
coverage
out
dist
.turbo
*.log
*.tsbuildinfo
devserver.log
devserver.err.log
.next-dev.log
.next-dev-3001.log
docker-compose.yml
